@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: "Sarala", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(11, 11, 11);
  color: aliceblue;
}

code {
  font-family: "Sarala", sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}

.logo {
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  from {
    margin: -280px;
    margin-top: 20px;
  }

  to {
    margin: -45px;
    margin-top: 20px;
  }
}